
<div  class="explore-menu-section pt-5 pb-5" id="DynamicUpdateSection">
    <div class="container" >
        <div class="row" *ngIf="showResults">
            <div class="col-12">
                <h1 class="menu-section-heading" >Food Menu</h1>
            </div>
            <div class="col-12 col-md-6 col-lg-3 " *ngFor="let item of foodMenuArray;" >
                <div  >
                <div  class="shadow menu-item-card p-3 mb-3" >
                    <h1 class="menu-card-title">foodName:</h1>
                    <h1 class="menu-card-title" >{{item.foodName}}</h1> 
                    <h1 class="menu-card-title">foodName: </h1>
                    <h1 class="menu-card-title" > {{item.foodName}}</h1>
                    <h1 class="menu-card-title">foodQuantityAvailable: </h1>
                    <h1 class="menu-card-title" > {{item.foodQuantityAvailable}}</h1>
                    <button class="custom-button"   (click)="addtoCart(item.foodId)" >Add to cart</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
