

<app-header></app-header>

<div  id="FoodMenuContainer">
<div class="explore-menu-section pt-5 pb-5" id="DynamicUpdateSection">
    <div class="container">
        <div class="row" *ngIf="showResults">
            <div class="col-12">
                <h1 class="menu-section-heading container d-flex flex-column">Food Menu</h1>
            </div>
            <div class="col-12 col-md-6 col-lg-3 " *ngFor="let item of foodMenuArray;">
                <div>
                    <div class="shadow menu-item-card p-3 mb-3">
                        <h6 class="menu-card-title">Item Name: <span class="menu-card-title">{{item.foodName}}</span></h6>
                        <h4 class="menu-card-title">Price: {{item.foodPrice}}</h4>
                        <h4 class="menu-card-title">Quantity Available: {{item.foodQuantityAvailable}} </h4>
                        <h1 class="menu-card-title"> </h1>
                        <label for="quantity" >Quantity :</label>
                        <input #quantity type="number" id="quantity" name="quantity" min="1" max={{item.foodQuantityAvailable}}>
                        <button class="custom-button mt-2" (click)="addtoCart(quantity.value ,item.foodId )">Add to cart</button>


                    </div>
                </div>
               
            </div>
            <div>
                <button class="custom-outline-button  justify-content-center" (click)="placeOrder()">Place Order</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container mt-5 d-none" id = "ListAddressContainer">
    <div  class="explore-menu-section pt-5 pb-5" id="DynamicUpdateSection">
        <div class="container" >
            <div class="row" *ngIf="showResults">
                <div class="col-12">
                    <h1 class="menu-section-heading" >Customer List</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-3 " *ngFor="let address of customerAddressArray;" >
                    <div >
                    <div  class="shadow menu-item-card p-3 mb-3" >
                        <p class="menu-card-title">House No : {{address.custHouseNumber}} ,{{address.custAddressLane1}},{{address.custAddressLane2}}.
                            Near{{address.custLandmark}}, {{address.custDistrict}},{{address.custState}}, {{address.custPincode}}
                        </p>    
                        <button class="custom-button"  (click)="deliveryAddreessSelected(address.custAddressId)" >Deliver here</button>
      
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>