
<app-header></app-header>

<div class="d-flex flex-row justify-content-left  m-5 ">

    <div class="container d-flex mt-5" id="OpeningTiles">


        <div class="wcu-section pt-5 pb-5" id="wcuSection">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="wcu-section-heading">FOOD MENU OPERATIONS !!</h1>
                        <p class="wcu-section-description">
                            Here you can add new Dishes , Update the quantity and delete the dishes from menu!!
                        </p>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="wcu-card p-3 mb-3 shadow">
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/fruits-img.png"
                                class="wcu-card-image" />
                            <h1 class="wcu-card-title mt-3">Update Dishes</h1>
                            <p class="wcu-card-description">
                                Check the Menu and update the dishes in my Food Menu !!
                            </p>
                            <button class="custom-outline-button" (click)="ListAllDishes()">click me</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="wcu-card p-3 mb-3 shadow">
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-serve.png"
                                class="wcu-card-image" />
                            <h1 class="wcu-card-title mt-3">Add dishes</h1>
                            <p class="wcu-card-description">
                                Add new dishes to my restaurant
                            </p>
                            <button class="custom-outline-button" (click)="AddDishes()">click me</button>

                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 d-none" id="AddDishesContainer">
        <div class="row d-flex flex-row justify-content-center">
            <div class="col-12 mt-5 text-center">
                <h1 class="menu-section-heading">Add Dish</h1>
            </div>
            <div class=" col-12">
                <div class="col-12">
                    <div class="shadow menu-item-card p-5 m-3">
                        <div class="form d-flex flex-column justify-content-center">

                            <form [formGroup]="AddDishesForm" (ngSubmit)="onAddDishesSubmit()">
                                <h4>Enter Dish Details </h4>
                                <div class="form-group mb-2">
                                    <label for="formfoodName">
                                        <h6>Dish Name</h6>
                                    </label>
                                    <input type="text" class="form-control" id="formfoodName"  formControlName="formfoodName"
                                    placeholder="please enter the name of the Dish">
                                </div>

                                <div class="form-group mb-2">
                                    <label for="formfoodPrice">
                                        <h6>Dish Price</h6>
                                    </label>
                                    <input type="text" class="form-control" id="formfoodPrice" formControlName="formfoodPrice"
                                        placeholder="enter the price ">
                                </div>
                                <div class="form-group mb-2">
                                    <label for="formfoodQuantityAvailable">
                                        <h6>Dish Quantity Available </h6>
                                    </label>
                                    <input type="text" class="form-control" id="formfoodQuantityAvailable " formControlName="formfoodQuantityAvailable"
                                        placeholder="Enter the quantity of the Dish available">
                                </div>
                                 <div class="form-group col-md-6 mr-1 mb-2">

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="formisVegeterian" value ="VEG" id="veg"  formControlName="formisVegeterian" >
                                        <label class="form-check-label" for="veg">
                                          Vegeterian
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="formisVegeterian" id="nonveg" value="NONVEG" checked  formControlName="formisVegeterian">
                                        <label class="form-check-label" for="nonveg">
                                          Non - Vegeterian 
                                        </label>
                                      </div>

                                </div>
                   

                                <div class="form-row d-flex flex-row justify-content-end mt-3">
                                    <button type="submit" class="btn custom-button">Add to Menu</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container mt-5 d-none" id="ListAllDishesContainer">
        <div class="row d-flex flex-row justify-content-center">
            <div class=" col-12">

                <div class="row" *ngIf="showResults">

                    <div class="col-12 d-none" id="iterator">
                        <h1 class="menu-section-heading">Dishes List</h1>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 " *ngFor="let item of ListAllDishesArray;">

                        <div class="shadow menu-item-card p-3 mb-3">
                            <h6 class="menu-card-title">Item Name: <span
                                    class="menu-card-title">{{item.foodName}}</span></h6>
                            <h6 class="menu-card-title">Price: {{item.foodPrice}}</h6>
                            <h6 class="menu-card-title">Quantity Available: {{item.foodQuantityAvailable}}</h6>
                            <h6 class="menu-card-title">Vegeterian Type: {{item.isVegeterian}}</h6>
                            <div class="d-flex flex-row justify-content-between">
                                <button class="custom-outline-button2 "
                                    (click)="updateSelectedDish(item.foodId)">Update</button>
                                <button class="custom-outline-button2 "
                                    (click)="deleteSelectedDish(item.foodId)">Delete</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="container mt-5 d-none" id="UpdateDishContainer">
        <div class="m-2 col-8">
            <div class="m-2 col-8">
                <div class="shadow  menu-item-card p-5 m-5">
                    <div class="form d- flex flex- column justify-content-center">
                        <div class="shadow menu-item-card p-3 mb-3">
                            <h6 class="menu-card-title">Item Name: <span class="menu-card-title text-capitalize fw-bold">{{foodName}}</span>
                            </h6>
                            <h6 class="menu-card-title">Price: {{foodPrice}}</h6>
                            <input #price type="number" id="price" name="price" placeholder="Enter the new Price">
                            <h6 class="menu-card-title">Present Quantity Available: {{foodQuantityAvailable}}</h6>
                            <input #quantity type="number" id="quantity" name="quantity" placeholder="Enter the new Quantity">
      
                            <div class="d-flex flex-row justify-content-between">
                                <button class="custom-outline-button2 mt-1"
                                    (click)="onUpdateDishSubmit(quantity.value, price.value)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>