<app-navbar-customer></app-navbar-customer>

<div  class="explore-menu-section pt-5 pb-5" id="DynamicUpdateSection">
    <div class="container" >
        <div class="row" *ngIf="showResults">
            <div class="col-12">
                <h1 class="menu-section-heading" >Customer List</h1>
            </div>
            <div class="col-12 col-md-6 col-lg-3 " *ngFor="let restaurant of array2;" >
                <div  >
                <div  class="shadow menu-item-card p-3 mb-3" >
                    <h4 class="menu-card-title">Restaurant Name:     {{restaurant.restaurantName}}</h4>
                    <h4 class="menu-card-title">restaurantId:     {{restaurant.restaurantId}}</h4>
                    <h4 class="menu-card-title" >Address: </h4>
                    <p class="wcu-card-description">
                        {{restaurant.restaurantAddress.restaurantAddressId}} 
                        {{restaurant.restaurantAddress.restaurantBuildingNumber}} 
                        {{restaurant.restaurantAddress.restaurantAddressLane1}}
                        {{restaurant.restaurantAddress.restaurantAddressLane2}}
                        {{restaurant.restaurantAddress.restaurantLandmark}}
                        {{restaurant.restaurantAddress.restaurantDistrict}}
                        {{restaurant.restaurantAddress.restaurantState}}
                        {{restaurant.restaurantAddress.restaurantPincode}}
                    </p> 
                    <button class="custom-button"  [routerLink]="['/FoodMenuPage', restaurant.restaurantId]" >Open Restro</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>