<div class="rest-section-bg-container">
    <div class="container ">
        <div class="row d-flex  ">
            <div class="flex-row ">
                <div class="d-8  justify-content-around shadow  menu-item-card p-5 mt-4">
                    <div>
                        <h4 class="text-center">User Sign Up !!</h4>
                    </div>
                    <div class="form d- flex flex- column justify-content-center">
                        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">


                            <p class="d-flex flex-column justify-content-center">
                                <label for="userName">User Name</label>
                                <input type="text" id="customerName" name="customerName" formControlName="customerName">
                            </p>

                            <p class="d-flex flex-column justify-content-center ">
                                <label for="userPassword">User Password</label>
                                <input type="password" id="customerPassword" name="customerPassword"
                                    formControlName="customerPassword">
                            </p>

                            <p class="d-flex flex-column justify-content-center ">
                                <label for="customerFirstName" class="mr-5">User First Name </label>
                                <input type="text" id="customerFirstName" name="customerFirstName"
                                    formControlName="customerFirstName">
                            </p>

                            <p class="d-flex flex-column justify-content-center">
                                <label for="customerLastName">User Last Name </label>
                                <input type="text" id="customerLastName" name="customerLastName"
                                    formControlName="customerLastName">
                            </p>

                            <p class="d-flex flex-column justify-content-center">
                                <label for="customerMobile">User Mobile </label>
                                <input type="text" id="customerMobile" name="customerMobile"
                                    formControlName="customerMobile">
                            </p>

                            <p class="d-flex flex-column justify-content-center">
                                <label for="customerEmail">User Email </label>
                                <input type="text" id="customerEmail" name="customerEmail"
                                    formControlName="customerEmail">
                            </p>

                            <p>
                                <button class="custom-button " type="submit">Submit</button>
                            </p>

                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>